*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    /* width: 50%; */
}



.game{
    width: 80%;
    margin: 0 auto;
    
}




.deck-container{
    width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
   
}

.card-container{
   width: 23.5%;
   height: 35%;
   position: relative;
   transform: scale(1);
   transform-style: preserve-3d;
   transition: transform .5s;
}

h1{
    text-align: center;
}



.card-front,
.card-back{
    border: 1px solid black;
    cursor: pointer;
    width: 150px;
    margin: 1.2em;
    transform: scale(1);
    position: absolute;
    transform-style: preserve-3d;
   
    /* transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px; 
   
}

.card-back{
    width: 150px;
    
    backface-visibility: hidden;
}

.card-container:active{
    transform: scale(.95);
   
    transition: transform .2s;
    
}

/* "flip" classen skapas i javascript */
.card-container.flip {
    transform: rotateY(180deg);
}
